In [3]:
import numpy as np
import tensorflow as tf
import pandas as pd
from os import listdir
from os.path import isfile, join
import seaborn as sns
from multiprocessing import Pool

In [4]:
oil = pd.read_csv("data/oil.csv")
stores = pd.read_csv("data/stores.csv")
holidays_events = pd.read_csv("data/holidays_events.csv")
transactions = pd.read_csv("data/transactions.csv")
items = pd.read_csv("data/items.csv")
mainTrain = pd.read_pickle("trainArray5Mil.pickle")
mainTest = pd.read_pickle("testArray5Mil.pickle")

In [18]:
mainTrain["dcoilwtico"] = mainTrain["dcoilwtico"].fillna(method="pad")
mainTrain.head()
# print(mainTrain.isnull().sum())

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>date</th>
      <th>store_nbr</th>
      <th>item_nbr</th>
      <th>unit_sales</th>
      <th>onpromotion</th>
      <th>city</th>
      <th>state</th>
      <th>type</th>
      <th>cluster</th>
      <th>transactions</th>
      <th>dcoilwtico</th>
      <th>family</th>
      <th>class</th>
      <th>perishable</th>
      <th>month</th>
      <th>year</th>
      <th>day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>22000000</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>3958</td>
      <td>38.0</td>
      <td>False</td>
      <td>41</td>
      <td>41</td>
      <td>38</td>
      <td>38</td>
      <td>1447</td>
      <td>100.43</td>
      <td>15</td>
      <td>131</td>
      <td>0</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>22000001</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>703</td>
      <td>1.0</td>
      <td>False</td>
      <td>41</td>
      <td>41</td>
      <td>38</td>
      <td>38</td>
      <td>1447</td>
      <td>100.43</td>
      <td>15</td>
      <td>131</td>
      <td>0</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>22000002</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>1124</td>
      <td>4.0</td>
      <td>False</td>
      <td>41</td>
      <td>41</td>
      <td>38</td>
      <td>38</td>
      <td>1447</td>
      <td>100.43</td>
      <td>5</td>
      <td>93</td>
      <td>1</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>22000003</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>2024</td>
      <td>11.0</td>
      <td>False</td>
      <td>41</td>
      <td>41</td>
      <td>38</td>
      <td>38</td>
      <td>1447</td>
      <td>100.43</td>
      <td>15</td>
      <td>163</td>
      <td>0</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>22000004</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>264</td>
      <td>4.0</td>
      <td>False</td>
      <td>41</td>
      <td>41</td>
      <td>38</td>
      <td>38</td>
      <td>1447</td>
      <td>100.43</td>
      <td>24</td>
      <td>225</td>
      <td>0</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
store_nbr = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("store_nbr", hash_bucket_size=54), dimension=3)
onpromotion = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("onpromotion", hash_bucket_size=2), dimension=3)
type = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("type", hash_bucket_size=2), dimension=3)
family = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("family", hash_bucket_size=2), dimension=3)
classCol = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("class", hash_bucket_size=2), dimension=3)
perishable = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("perishable", hash_bucket_size=2), dimension=3)
month = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("month", hash_bucket_size=2), dimension=3)