In [2]:
import numpy as np
import tensorflow as tf
import pandas as pd
from os import listdir
from os.path import isfile, join
import seaborn as sns
from multiprocessing import Pool

In [19]:
oil = pd.read_csv("data/oil.csv")
stores = pd.read_csv("data/stores.csv")
holidays_events = pd.read_csv("data/holidays_events.csv")
transactions = pd.read_csv("data/transactions.csv")
items = pd.read_csv("data/items.csv")
mainTrain = pd.read_pickle("trainArray1Mil.pickle")
mainTest = pd.read_pickle("testArray1Mil.pickle")

In [20]:
mainTrain["dcoilwtico"] = mainTrain["dcoilwtico"].fillna(method="pad")
mainTest["dcoilwtico"] = mainTest["dcoilwtico"].fillna(method="pad")
mainTrain.head()
# print(mainTrain.isnull().sum())

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>date</th>
      <th>store_nbr</th>
      <th>item_nbr</th>
      <th>unit_sales</th>
      <th>onpromotion</th>
      <th>city</th>
      <th>state</th>
      <th>type</th>
      <th>cluster</th>
      <th>transactions</th>
      <th>dcoilwtico</th>
      <th>family</th>
      <th>class</th>
      <th>perishable</th>
      <th>month</th>
      <th>year</th>
      <th>day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>22000000</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>215352</td>
      <td>38.0</td>
      <td>False</td>
      <td>Cuenca</td>
      <td>Azuay</td>
      <td>B</td>
      <td>6</td>
      <td>1447</td>
      <td>100.43</td>
      <td>GROCERY I</td>
      <td>1016</td>
      <td>0</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>22000001</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>215356</td>
      <td>1.0</td>
      <td>False</td>
      <td>Cuenca</td>
      <td>Azuay</td>
      <td>B</td>
      <td>6</td>
      <td>1447</td>
      <td>100.43</td>
      <td>GROCERY I</td>
      <td>1016</td>
      <td>0</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>22000002</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>215370</td>
      <td>4.0</td>
      <td>False</td>
      <td>Cuenca</td>
      <td>Azuay</td>
      <td>B</td>
      <td>6</td>
      <td>1447</td>
      <td>100.43</td>
      <td>BREAD/BAKERY</td>
      <td>2718</td>
      <td>1</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>22000003</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>215896</td>
      <td>11.0</td>
      <td>False</td>
      <td>Cuenca</td>
      <td>Azuay</td>
      <td>B</td>
      <td>6</td>
      <td>1447</td>
      <td>100.43</td>
      <td>GROCERY I</td>
      <td>1044</td>
      <td>0</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>22000004</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>218728</td>
      <td>4.0</td>
      <td>False</td>
      <td>Cuenca</td>
      <td>Azuay</td>
      <td>B</td>
      <td>6</td>
      <td>1447</td>
      <td>100.43</td>
      <td>CLEANING</td>
      <td>3044</td>
      <td>0</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
#catgorical columns
store_nbrCol =  tf.feature_column.categorical_column_with_identity("store_nbr", 54)
onpromotionCol = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("onpromotion", hash_bucket_size=2), dimension=3)
typeCol = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("type", hash_bucket_size=5), dimension=3)
familyCol = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("family", hash_bucket_size=33), dimension=3)
# classCol = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("class", hash_bucket_size=354), dimension=3)
# perishableCol = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("perishable", hash_bucket_size=2), dimension=3)
# monthCol = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("month", hash_bucket_size=12), dimension=3)
mainTrain.head()

WARNING:tensorflow:The default stddev value of initializer will change from "1/sqrt(vocab_size)" to "1/sqrt(dimension)" after 2017/02/25.

WARNING:tensorflow:The default stddev value of initializer will change from "1/sqrt(vocab_size)" to "1/sqrt(dimension)" after 2017/02/25.

WARNING:tensorflow:The default stddev value of initializer will change from "1/sqrt(vocab_size)" to "1/sqrt(dimension)" after 2017/02/25.

WARNING:tensorflow:The default stddev value of initializer will change from "1/sqrt(vocab_size)" to "1/sqrt(dimension)" after 2017/02/25.

WARNING:tensorflow:The default stddev value of initializer will change from "1/sqrt(vocab_size)" to "1/sqrt(dimension)" after 2017/02/25.

WARNING:tensorflow:The default stddev value of initializer will change from "1/sqrt(vocab_size)" to "1/sqrt(dimension)" after 2017/02/25.

WARNING:tensorflow:The default stddev value of initializer will change from "1/sqrt(vocab_size)" to "1/sqrt(dimension)" after 2017/02/25.

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>date</th>
      <th>store_nbr</th>
      <th>item_nbr</th>
      <th>unit_sales</th>
      <th>onpromotion</th>
      <th>city</th>
      <th>state</th>
      <th>type</th>
      <th>cluster</th>
      <th>transactions</th>
      <th>dcoilwtico</th>
      <th>family</th>
      <th>class</th>
      <th>perishable</th>
      <th>month</th>
      <th>year</th>
      <th>day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>22000000</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>3958</td>
      <td>38.0</td>
      <td>False</td>
      <td>19</td>
      <td>8</td>
      <td>2</td>
      <td>7</td>
      <td>1447</td>
      <td>100.43</td>
      <td>15</td>
      <td>131</td>
      <td>0</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>22000001</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>703</td>
      <td>1.0</td>
      <td>False</td>
      <td>19</td>
      <td>8</td>
      <td>2</td>
      <td>7</td>
      <td>1447</td>
      <td>100.43</td>
      <td>15</td>
      <td>131</td>
      <td>0</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>22000002</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>1124</td>
      <td>4.0</td>
      <td>False</td>
      <td>19</td>
      <td>8</td>
      <td>2</td>
      <td>7</td>
      <td>1447</td>
      <td>100.43</td>
      <td>5</td>
      <td>93</td>
      <td>1</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>22000003</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>2024</td>
      <td>11.0</td>
      <td>False</td>
      <td>19</td>
      <td>8</td>
      <td>2</td>
      <td>7</td>
      <td>1447</td>
      <td>100.43</td>
      <td>15</td>
      <td>163</td>
      <td>0</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>22000004</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>264</td>
      <td>4.0</td>
      <td>False</td>
      <td>19</td>
      <td>8</td>
      <td>2</td>
      <td>7</td>
      <td>1447</td>
      <td>100.43</td>
      <td>24</td>
      <td>225</td>
      <td>0</td>
      <td>4</td>
      <td>2014</td>
      <td>7</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
CATEGORICAL_COLUMNS =["store_nbr"]# ["month", "perishable", "onpromotion", "type", 'class']
CONTINUOUS_COLUMNS = ["transactions", "dcoilwtico", "day"]
LABEL_COLUMN = "unit_sales"

def input_fn(df):
  # Creates a dictionary mapping from each continuous feature column name (k) to
  # the values of that column stored in a constant Tensor.
  continuous_cols = {k: tf.constant(df[k].values)
                     for k in CONTINUOUS_COLUMNS}
  # Creates a dictionary mapping from each categorical feature column name (k)
  # to the values of that column stored in a tf.SparseTensor.
  categorical_cols = {k: tf.SparseTensor(
      indices=[[i, 0] for i in range(df[k].size)],
      values=df[k].values,
      dense_shape=[df[k].size, 1])
                      for k in CATEGORICAL_COLUMNS}
  # Merges the two dictionaries into one.
  feature_cols = {**continuous_cols, **categorical_cols}
  # Converts the label column into a constant Tensor.
  label = tf.constant(df[LABEL_COLUMN].values)
  # Returns the feature columns and the label.
  return feature_cols, label

def train_input_fn():
  return input_fn(mainTrain)

def eval_input_fn():
    return input_fn(mainTest)

In [24]:
dayCol = tf.contrib.layers.real_valued_column("day")
oilCol = tf.contrib.layers.real_valued_column("dcoilwtico")
transactionsCol = tf.contrib.layers.real_valued_column("transactions")

In [25]:
import tempfile
model_dir = tempfile.mkdtemp()
m = tf.contrib.learn.DNNRegressor(feature_columns=[dayCol, oilCol, store_nbrCol],
                                   optimizer=tf.train.ProximalAdagradOptimizer(
      learning_rate=0.1,
#       l1_regularization_strength=0.01,
        l2_regularization_strength=0.01
        
    ),
  hidden_units=[64, 32, 16])

INFO:tensorflow:Using default config.

WARNING:tensorflow:Using temporary folder as model directory: C:\Users\gadge\AppData\Local\Temp\tmpmpmrqmge

INFO:tensorflow:Using config: {'_master': '', '_evaluation_master': '', '_keep_checkpoint_every_n_hours': 10000, '_num_worker_replicas': 0, '_save_checkpoints_secs': 600, '_environment': 'local', '_tf_random_seed': None, '_num_ps_replicas': 0, '_keep_checkpoint_max': 5, '_model_dir': 'C:\\Users\\gadge\\AppData\\Local\\Temp\\tmpmpmrqmge', '_tf_config': gpu_options {
  per_process_gpu_memory_fraction: 1
}
, '_task_type': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x0000015F825470F0>, '_task_id': 0, '_is_chief': True, '_save_checkpoints_steps': None, '_save_summary_steps': 100, '_log_step_count_steps': 100, '_session_config': None}

In [27]:
m.fit(input_fn=train_input_fn, steps=10000)

WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.

WARNING:tensorflow:Rank of input Tensor (1) should be the same as output_rank (2) for column. Will attempt to expand dims. It is highly recommended that you resize your input, as this behavior may change.

WARNING:tensorflow:From C:\Users\gadge\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\contrib\learn\python\learn\estimators\head.py:642: scalar_summary (from tensorflow.python.ops.logging_ops) is deprecated and will be removed after 2016-11-30.
Instructions for updating:
Please switch to tf.summary.scalar. Note that tf.summary.scalar uses the node name instead of the tag. This means that TensorFlow will automatically de-duplicate summary names based on the scope they are created in. Also, passing a tensor or list of tags to a scalar summary op is no longer supported.

INFO:tensorflow:Create CheckpointSaverHook.

INFO:tensorflow:Restoring parameters from C:\Users\gadge\AppData\Local\Temp\tmpmpmrqmge\model.ckpt-10000

INFO:tensorflow:Saving checkpoints for 10001 into C:\Users\gadge\AppData\Local\Temp\tmpmpmrqmge\model.ckpt.

INFO:tensorflow:loss = 272.919, step = 10001

INFO:tensorflow:global_step/sec: 3.40609

INFO:tensorflow:loss = 272.919, step = 10101 (29.360 sec)

INFO:tensorflow:global_step/sec: 3.42228

INFO:tensorflow:loss = 272.919, step = 10201 (29.220 sec)

INFO:tensorflow:global_step/sec: 3.3936

INFO:tensorflow:loss = 272.919, step = 10301 (29.468 sec)

INFO:tensorflow:global_step/sec: 3.42083

INFO:tensorflow:loss = 272.919, step = 10401 (29.238 sec)

INFO:tensorflow:global_step/sec: 3.41027

INFO:tensorflow:loss = 272.919, step = 10501 (29.318 sec)

INFO:tensorflow:global_step/sec: 3.41276

INFO:tensorflow:loss = 272.919, step = 10601 (29.302 sec)

INFO:tensorflow:global_step/sec: 3.4147

INFO:tensorflow:loss = 272.919, step = 10701 (29.285 sec)

INFO:tensorflow:global_step/sec: 3.41092

INFO:tensorflow:loss = 272.919, step = 10801 (29.318 sec)

INFO:tensorflow:global_step/sec: 3.41208

INFO:tensorflow:loss = 272.919, step = 10901 (29.321 sec)

INFO:tensorflow:global_step/sec: 3.41091

INFO:tensorflow:loss = 272.919, step = 11001 (29.304 sec)

INFO:tensorflow:global_step/sec: 3.40172

INFO:tensorflow:loss = 272.919, step = 11101 (29.397 sec)

INFO:tensorflow:global_step/sec: 3.40723

INFO:tensorflow:loss = 272.919, step = 11201 (29.349 sec)

INFO:tensorflow:global_step/sec: 3.41052

INFO:tensorflow:loss = 272.919, step = 11301 (29.321 sec)

INFO:tensorflow:global_step/sec: 3.41007

INFO:tensorflow:loss = 272.919, step = 11401 (29.331 sec)

INFO:tensorflow:global_step/sec: 3.40538

INFO:tensorflow:loss = 272.919, step = 11501 (29.359 sec)

INFO:tensorflow:global_step/sec: 3.40612

INFO:tensorflow:loss = 272.919, step = 11601 (29.359 sec)

INFO:tensorflow:global_step/sec: 3.4096

INFO:tensorflow:loss = 272.919, step = 11701 (29.328 sec)

INFO:tensorflow:global_step/sec: 3.39996

INFO:tensorflow:loss = 272.919, step = 11801 (29.413 sec)

INFO:tensorflow:global_step/sec: 3.41584

INFO:tensorflow:loss = 272.919, step = 11901 (29.287 sec)

INFO:tensorflow:global_step/sec: 3.40633

INFO:tensorflow:loss = 272.919, step = 12001 (29.345 sec)

INFO:tensorflow:Saving checkpoints for 12047 into C:\Users\gadge\AppData\Local\Temp\tmpmpmrqmge\model.ckpt.

INFO:tensorflow:global_step/sec: 3.33124

INFO:tensorflow:loss = 272.919, step = 12101 (30.019 sec)

INFO:tensorflow:global_step/sec: 3.41788

INFO:tensorflow:loss = 272.919, step = 12201 (29.258 sec)

INFO:tensorflow:global_step/sec: 3.41718

INFO:tensorflow:loss = 272.918, step = 12301 (29.264 sec)

INFO:tensorflow:global_step/sec: 3.41556

INFO:tensorflow:loss = 272.918, step = 12401 (29.290 sec)

INFO:tensorflow:global_step/sec: 3.41646

INFO:tensorflow:loss = 272.918, step = 12501 (29.258 sec)

INFO:tensorflow:global_step/sec: 3.41444

INFO:tensorflow:loss = 272.918, step = 12601 (29.287 sec)

INFO:tensorflow:global_step/sec: 3.40954

INFO:tensorflow:loss = 272.918, step = 12701 (29.329 sec)