In [3]:
import numpy as np
import tensorflow as tf
import pandas as pd
from os import listdir
from os.path import isfile, join
import seaborn as sns
from multiprocessing import Pool

In [ ]:
oil = pd.read_csv("data/oil.csv")
stores = pd.read_csv("data/stores.csv")
holidays_events = pd.read_csv("data/holidays_events.csv")
transactions = pd.read_csv("data/transactions.csv")
items = pd.read_csv("data/items.csv")
mypath = "data/train/"
trainFileList = [join(mypath, f) for f in listdir(mypath) if isfile(join(mypath, f))]

In [6]:
print(oil.isnull().sum())
oil = oil.fillna(method="pad")
oil = oil.fillna(value=93.14, limit=1)
oil.head()

date          0
dcoilwtico    0
dtype: int64

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>dcoilwtico</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2013-01-01</td>
      <td>93.14</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2013-01-02</td>
      <td>93.14</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2013-01-03</td>
      <td>92.97</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2013-01-04</td>
      <td>93.12</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2013-01-07</td>
      <td>93.20</td>
    </tr>
  </tbody>
</table>
</div>

In [52]:
stores.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>store_nbr</th>
      <th>city</th>
      <th>state</th>
      <th>type</th>
      <th>cluster</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Quito</td>
      <td>Pichincha</td>
      <td>D</td>
      <td>13</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Quito</td>
      <td>Pichincha</td>
      <td>D</td>
      <td>13</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Quito</td>
      <td>Pichincha</td>
      <td>D</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Quito</td>
      <td>Pichincha</td>
      <td>D</td>
      <td>9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>Santo Domingo</td>
      <td>Santo Domingo de los Tsachilas</td>
      <td>D</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
</div>

In [53]:
holidays_events.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>type</th>
      <th>locale</th>
      <th>locale_name</th>
      <th>description</th>
      <th>transferred</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2012-03-02</td>
      <td>Holiday</td>
      <td>Local</td>
      <td>Manta</td>
      <td>Fundacion de Manta</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2012-04-01</td>
      <td>Holiday</td>
      <td>Regional</td>
      <td>Cotopaxi</td>
      <td>Provincializacion de Cotopaxi</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2012-04-12</td>
      <td>Holiday</td>
      <td>Local</td>
      <td>Cuenca</td>
      <td>Fundacion de Cuenca</td>
      <td>False</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2012-04-14</td>
      <td>Holiday</td>
      <td>Local</td>
      <td>Libertad</td>
      <td>Cantonizacion de Libertad</td>
      <td>False</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2012-04-21</td>
      <td>Holiday</td>
      <td>Local</td>
      <td>Riobamba</td>
      <td>Cantonizacion de Riobamba</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
</div>

In [54]:
transactions.head()

In [55]:
trainFileTest.head(
)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>date</th>
      <th>store_nbr</th>
      <th>item_nbr</th>
      <th>unit_sales</th>
      <th>onpromotion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>22000000</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>215352</td>
      <td>38.0</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1</th>
      <td>22000001</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>215356</td>
      <td>1.0</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>22000002</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>215370</td>
      <td>4.0</td>
      <td>False</td>
    </tr>
    <tr>
      <th>3</th>
      <td>22000003</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>215896</td>
      <td>11.0</td>
      <td>False</td>
    </tr>
    <tr>
      <th>4</th>
      <td>22000004</td>
      <td>2014-04-07</td>
      <td>39</td>
      <td>218728</td>
      <td>4.0</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
def buildDataSet(mainTrain):
    # mainTrain = pd.merge(left=mainTrain, right=stores, how="left", left_on="store_nbr", right_on="store_nbr")
    # mainTrain = pd.merge(left=mainTrain, right=transactions, how="left", left_on=["date", "store_nbr"], right_on=["date", "store_nbr"])
    # mainTrain = pd.merge(left=mainTrain, right=oil, how="left", left_on=["date"], right_on=["date"])
    # mainTrain = pd.merge(left=mainTrain, right=items, how="left", left_on=["item_nbr"], right_on=["item_nbr"])
    mainTrain["date"] = mainTrain["date"].apply(lambda x: pd.to_datetime(x))
    mainTrain["month"] = mainTrain["date"].apply(lambda x: x.month)
    mainTrain["year"] = mainTrain["date"].apply(lambda x: x.year)
    mainTrain["day"] = mainTrain["date"].apply(lambda x: x.day)
    return mainTrain
num_partitions = 10 #number of partitions to split dataframe
num_cores = 14 #number of cores on your machine
def parallelize_dataframe(df, func):
    df_split = np.array_split(df, num_partitions)
    pool = Pool(num_cores)
    df = pd.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df
trainArray = parallelize_dataframe( pd.read_csv("data/train/output_%s.csv" %23),buildDataSet)

In [66]:
num =8


testArray = parallelize_dataframe(buildDataSet, pd.read_csv("data/train/output_%s.csv" %str(23+num)))
for x in range(24,23+num):
    print(x)
    trainArray += parallelize_dataframe(buildDataSet, pd.read_csv("data/train/output_%s.csv" %str(x)))

TypeError: object of type 'function' has no len()

In [41]:
store_nbr = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("store_nbr", hash_bucket_size=54), dimension=3)
onpromotion = tf.contrib.layers.embedding_column(tf.contrib.layers.sparse_column_with_hash_bucket("onpromotion", hash_bucket_size=2), dimension=3)

0    4
1    4
2    4
3    4
4    4
5    4
6    4
7    4
8    4
9    4
Name: month, dtype: int64